<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="miDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/bd_tienda" />
		<property name="username" value="root" />
		<property name="password" value="very_strong_password" />

	</bean>



	<bean id="usuariosDAO" class="daos.UsuariosDAOImpl">
		<!-- la siguiente línea ejecuta el setElDataSource, dándole la bean de 
			arriba de id miDataSource -->
		<property name="elDataSource" ref="miDataSource" />
	</bean>

	<bean id="ordenadoresDAO" class="daos.OrdenadoresDAOImpl">
		<property name="elDataSource" ref="miDataSource" />
	</bean>

	<bean id="serviciosDAO" class="daos.ServiciosDAOImpl">
		<property name="elDataSource" ref="miDataSource" />
	</bean>

	<bean id="categoriasDAO" class="daos.CategoriasDAOImpl">
		<property name="elDataSource" ref="miDataSource" />
	</bean>
	
	<bean id="categoriasUsuariosDAO" class="daos.CategoriasUsuariosDAOImpl">
		<property name="elDataSource" ref="miDataSource" />
	</bean>
</beans>

